/*メイン*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'mplus-1p-regular', sans-serif;
    font-weight: 300;
}

html, body {
    height:100%;
}

body {
    background-color:#fff;
    color:#444;
}

.l-constrained {
    width:880px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.pull-left {
    float: left;
    box-sizing: border-box;
}
.pull-right {
    float: right;
    box-sizing: border-box;
}

.l-constrained-large {
    width:980px;
    margin: 0 auto;
}


.separator-white {
    height:1px;
    width:30px;
    margin: 60px auto;
    background-color: #fff;
}

ul.menu{
    display: table;
    margin: 0 auto;
    margin-top:46px;
}

ul.menu > li {
    display: table-cell;
    padding:0px 8px;
}

ul.menu > li > a{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color:#101010;
    text-decoration: none;
    font-size:30px;
    padding:16px 32px;
    transition: background-color 0.3s;
}

ul.menu > li > a:hover{
    background-color:rgba(123, 41, 77, 0.15);
    box-shadow:0px 0px 3px rgba(100,100,100,0.2) inset;
    border-radius: 3px;
}

/*ヘッダー関係*/

.l-marketing {
    background-image: url("../img/maple-ga66736ba3_1920.jpg");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding:190px 0px;
}

.l-marketing h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color:#101010;
    font-size:80px;
    text-align: center;
}

.l-marketing p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color:#fff;
    font-size:34px;
    text-align: center;
    margin-top:30px;
}

.section {
    margin-top:40px;
}
.section-title {
    text-align: center;
    font-size:50px;
}

.section-content h1 {
    font-size: 36px;
    padding:8px 0px 24px 0px;
}

.subsection{
    margin-bottom:32px;

}


.section-title:after {
    content: "";
    display: block;
    width:30px;
    height:1px;
    background-color:#ccc;
    margin:30px auto;
}
/*プロフィール関係*/

.img{
    margin-left: -100px;
    width: 200px;
    display: flex;
    height: 200px;
    position: absolute;
}

.profile-content {
    width:75%;
    padding:0px 12%;
    line-height: 180%;
    text-align: center;
}
/*ABOUT関係*/
.section-product {
    background-color:#eee;
    padding:34px 0px;
}

/*アコーディオン関係*/
/* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }*/
  .ac {
    width: 90%;
    max-width:550px;
    margin: 0 auto;
  }
  .ac-parent {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    transition: .3s;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
  }
  .ac-child {
    padding: 2em 1em;
    background-color: #fff;
  }

  .close {
    display: block;
    height: 35px;
    width: 25px;
    margin: 3em auto 0;
    padding: .5em 0;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

/*sample関係*/

.works {
    display: flex;
    justify-content: space-between;
 }

 .works-card{
    width: 60%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.7);
    display: block;
 }

 .works-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
 }

 .works h3{
    padding: 10px;
 }

 .works-card  li{
    list-style: none;
 }


 .works-comment{
    width: 35%;
    text-align: center;
    display: block;
    font-family: sans-serif;
    font-weight: lighter;
    
 }

 .works-comment li{
    list-style: none;
    font-family: sans-serif;
    font-weight: lighter;
 }


 .works-comment li a{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter;
 }

 .works-comment li p{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter;
 }


/*contact関係*/
.section-contact {
    padding:34px 0px 80px 0px;
    color:#fff;
    background-color: #232323;
}

.section-contact .section-content{
    text-align: center;
}

input.text-email {
    background-color:#666;
    border:solid #101010 1px;
    border-radius:3px;
    width:550px;
    color:#fff;
    font-size: 40px;
    text-align: center;
    padding:16px 0px;
    outline:none;
}

ul.tech {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.css{
    color: deepskyblue;
}

.html{
    color: coral;
}

.php{
    color: rgb(214, 68, 214);
}
.laravel{
    color: navy;
}

ul.tech > li {
    padding-right:24px;
    padding-bottom:16px;
    display: inline-block;
}

ul.tech li img {
    height:60px;
    width: 60px;
    transition: .5s ;
    transform: rotateY( 0deg ) ;
    transform: rotateY( 360deg ) ;
}

ul.social {
    list-style: none;
    display: table;
    margin: 0 auto;
}


ul.social >li {
    display: table-cell;
    padding:0px 16px;
}

ul.social > li > a{
    color:#999;
    text-decoration: none;
    font-size: 40px;
    transition: color 0.3s;
}

ul.social > li > a:hover{
    color:#fff;
}



ul.horizontal-list {
    list-style: none;
}
ul.products > li{
    width:20%;
    padding:8px;
}

ul.products > li > a{
    display: block;
    height: 160px;
    width:100%;
    background-size: cover;
    border-radius: 3px;
    box-shadow:0px 0px 3px rgba(0,0,0,0.2);
}
.section-product {
    display: none;
}

.product-info > li {
    list-style: none;
    padding:16px 8px;
    border-bottom:solid #ccc 1px;
}

.product-info > li .field {
    width:20%;
}

.product-info > li .description {
    width:80%;
}

